# Python Functions

In this particular day of coding, I will be doing function usage and creating looped functions to practice how much I know about function bulding in python and how to intergrate loops into the functions I create.

In [1]:
# Creating a basic function
def my_name():
    print('Ashley')
    
my_name()

Ashley

In [2]:
# Creating a function using arguments
def new(name):
    print(name + 'Munene')
    
new('Kaly ')

Kaly Munene

In [3]:
# Creating a function using more than 1 argument
def func(name, age):
    print(name, age)

func('Ashley', 25)

Ashley 25

In [4]:
# Creating a function with 3 arguments
def bio(name, age, salary, status):
    print(name, age, salary, status)
    
bio('ashley', 27, 14000, 'Married')

ashley 27 14000 Married

In [5]:
# Creating a function that calls a list of items
def food(food_eaten):
    for x in food_eaten:
        print(x)
    
meals = ['Rice', 'Chapati', 'Mukimu', 'Fries', 'Matoke']
food(meals)

Rice
Chapati
Mukimu
Fries
Matoke

In [6]:
# Creating a function that calls from a list 2
def my_country(country):
    for x in country:
        print(x)
        
        
Nations = ['Kenya', 'Tanzania', 'Madagascar', 'Atlanta']
my_country(Nations)

Kenya
Tanzania
Madagascar
Atlanta

In [7]:
# A function containing a loop
def numbers(digit):
    num = 0
    
    # loop starts here
    for num_1 in digit:
        if num > 0:
            break
            
            
    return num


num = 16
print(num)

16

In [8]:
# A function containing another nested if loop
def numbers(digit):
    num = 4
    
    # loop starts here
    for num_1 in digit:
        if num == 0:
            num = num +2
        else:
            break
            
            
    return num


num = 16
print(num)

16

In [11]:
# A function containing another nested elif loop
def numbers(digit):
    num = 0
    # Nested IFs starts here
    if num == 0:
        num = num +2
    elif num > 0:
        num=num * 3
    else:
        print('Done')
            
            
    return num

print(num)

16

In [20]:
# New nested If statement
num = 7

def loop(num):
    if num > 5:
        num = num *2
    elif num < 5:
        num = num * 6
    else:
        num= num * 3
    
    return num

loop(num)

14

In [27]:
# Boolean functions in Python
name = 'Tumaini'
age = 35

def bio_2 (name, age):
    if name == 'Tumaini':
        age = age + 3
    elif name != 'Tumaini':
        age = age - 3
    else:
        print('name not Recognized!')
    return age

bio_2('Tumaini', age)

38